{% extends "home-base.html" %}

{% block title %}
Developer Bio
{% endblock %}

{% block head %}
  {{super()}}
  <style>
    body {
      padding-top: 54px;
    }
     a:link {color: black;}
     a:visited {color: black;}
     a:hover {color: red;}
     a:active {color: black;}
    .mt-6{
      display: inline-block;
      padding-right: 30px;
    }
    #first-para {
      padding-top: 15px;
    }
  </style>
{% endblock %}

{% block page_content %}
<div class="container">
   <h1 class="mt-5"><i class="fa fa-female" aria-hidden="true"></i> About Sean Bates</h1>

  <p id="first-para"> Sean Bates is currently a senior the University of Delaware, pursing a double major in Management Informaiton Systems and Accounting. He plans to work full-time at PriceWaterhouse Coopers upon graduation in May. </p>

  <h3 id="link-header">Connect with Sean on Social Media: </h3>

  <div class="col col-lg-3">
  <h3 class="mt-6"><a href="https://www.facebook.com/SeanBates517" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></h3>
  <h3 class="mt-6"><a href="https://www.linkedin.com/in/sean-bates-77aa4b104/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h3>
</div>

</div>
{% endblock %}
