{% extends "home-base.html"%}
{% block title %}Delete Course{% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 54px;
    }
  </style>
{% endblock %}

{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-book" aria-hidden="true"></i> Delete the following course:</h1>
    <form action="/course-directory/delete/{{course.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{course.course_number}}" required="true" readonly="true">
      </div>
      <button type="submit" class="btn btn-danger" id="delete_btn">Delete</button>
    </form>
  </div>

{% endblock%}
{% block scripts%}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#delete_btn').click(function () {
      if (! confirm('Are you sure?')) {
        return false;
      }
    })
  });
  </script>
{% endblock%}
